@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}
*{
    padding: 0;
    margin: 0;
}

body{
    margin-bottom: 120px;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    position: relative;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #f9f8f8;
    border-radius: 5rem
}

.jumbotron {
    background-image: url('img/manual_brew.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: 0 -100px;
}

.jumbotron{
    color: #d8d7d7;
}

.jumbotron img{
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1, .jumbotron p{
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.row .image{
    flex: 1 1 45rem;
}

.image .img-thumbnail{
    border:none;
}

.about{
    display: flex;
    /* background: var(--black); */
    flex-wrap: wrap;
}

.heading{
    /* color: #fff; */
    text-transform: uppercase;
    padding-bottom: .5rem;
}

.heading span{
    color: var(--main-color);
}

.content{
    max-width: 60rem;
}

.content h3{
    /* font-size: 6rem; */
    text-transform: uppercase;
}

.menu{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr)); */
    gap:1.5rem;
}

.menu .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu h3{
    /* color:#fff; */
    font-size: 22px;
}

.btn-checkout{
    left: 45px;
    position: relative;
}

/* .product{

} */

/* @media only screen and (max-width:768px) {
    
} */